<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JournaLink"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_foreground" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".NotificationActivity"
            android:label="Notification Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="OPEN_COMMENTS_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateJournal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewJournal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsandConditions"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfilePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewJournalViewer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JournalFeed"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JournalContentViewer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JournalThoughts"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashScreen"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>